<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?define AppPanel_TargetDir=$(var.FireBoost.TargetDir)?>
	<?define InstallActions_TargetDir=$(var.InstallActions.TargetDir)?>
	<?define ProductVersion="!(bind.FileVersion.FireBoost.dll)"?>
	<Product Id="*" Name="Bimteam panel" Language="1049" Version="$(var.ProductVersion)" Manufacturer="bimteam.org" UpgradeCode="b603f03d-a2c6-414a-bab0-a6231eab9443">
		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" AdminImage="yes"/>
		<MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of Bimteam panel is already installed" />
		
		<Icon Id="btIco.ico" SourceFile="$(var.ProjectDir)Images\btIco.ico" />
		<Property Id="ARPPRODUCTICON" Value="btIco.ico" />

		<WixVariable Id="WixUIBannerBmp" Value="Images\btInstallerTopBanner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Images\btInstallerBackground.bmp" />
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\bimteamPanelLicence.rtf" />
		
		<UIRef Id="WixUI_InstallDir" />
		<Property Id ="WIXUI_INSTALLDIR" Value ="INSTALLFOLDER"/>
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Bimteam panel" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="MyFolderComponent" />
			<ComponentRef Id="LoggerFolderComponents" />
		</Feature>
		<InstallExecuteSequence>
			<Custom Action="InstallationPathData" Before="ManifestCreateAction" />
			<Custom Action="InstallationPathDataOnDelete" Before="ManifestDeleteAction" />
			<Custom Action="ManifestCreateAction" After="InstallFiles">NOT REMOVE</Custom>
			<Custom Action="ManifestDeleteAction" After="InstallFiles">REMOVE</Custom>
		</InstallExecuteSequence>

	</Product>
	<Fragment>
		<CustomAction Id="ManifestCreateAction" BinaryKey="MCAssembly" DllEntry="CreateManifest" Execute="deferred" Return="check" HideTarget="no" />
		<CustomAction Id="ManifestDeleteAction" BinaryKey="MCAssembly" DllEntry="DeleteManifest" Execute="deferred" Return="check" HideTarget="no" />
		<CustomAction Id="InstallationPathData" Property="ManifestCreateAction" Value="InstallPath=[INSTALLFOLDER];Version=$(var.ProductVersion)" />
		<CustomAction Id="InstallationPathDataOnDelete" Property="ManifestCreateAction" Value="InstallPath=[INSTALLFOLDER];Version=$(var.ProductVersion)" />
		<Binary Id="MCAssembly" SourceFile="$(var.AppPanel_TargetDir)InstallActions.CA.dll" />
	</Fragment>
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="FireBoost panel">
					<Directory Id ="Logging" Name ="_log">
						<Component Id="LoggerFolderComponents" Guid="496384ce-624d-4334-b446-4ab575a3a108">
							<CreateFolder Directory="Logging">
								<util:PermissionEx User="Users" GenericAll="yes" TakeOwnership="yes" />
							</CreateFolder>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="CommonAppDataFolder">
				<Directory Id="CommonAppDataManufacturerFolder" Name="FireBoost">
					<Component Id="MyFolderComponent" Guid="cb785bac-079d-4783-85e2-a0e8fa354edf" Permanent="yes">
						<CreateFolder Directory="CommonAppDataManufacturerFolder">
							<util:PermissionEx User="Users" GenericAll="yes" TakeOwnership="yes" />
						</CreateFolder>
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="FireBoost.dll" Guid="9841D8C1-5BAA-43F7-8A75-125E99187348">
			  <File Id="FireBoost.dll" Name="FireBoost.dll" Source="$(var.AppPanel_TargetDir)FireBoost.dll" />
			</Component>
			<Component Id="License.dll" Guid="68668b2d-26b1-4372-8207-c3cd9411615c">
			  <File Id="License.dll" Name="License.dll" Source="$(var.AppPanel_TargetDir)License.dll" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="888f2b29-c2a6-40cb-bfcd-2747fd69133a">
			  <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.AppPanel_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="Database.dll" Guid="648ddb85-0d5e-416e-931e-4c22916e36b4">
			  <File Id="Database.dll" Name="Database.dll" Source="$(var.AppPanel_TargetDir)Database.dll" />
			</Component>
			<Component Id="FireSharp.dll" Guid="ff60c1ae-57c9-485d-baea-b5be025326a8">
			  <File Id="FireSharp.dll" Name="FireSharp.dll" Source="$(var.AppPanel_TargetDir)FireSharp.dll" />
			</Component>
			<Component Id="Microsoft.Threading.Tasks.Extensions.dll" Guid="897cbf4f-f33b-47bf-b265-50903fa2a6b6">
			  <File Id="Microsoft.Threading.Tasks.Extensions.dll" Name="Microsoft.Threading.Tasks.Extensions.dll" Source="$(var.AppPanel_TargetDir)Microsoft.Threading.Tasks.Extensions.dll" />
			</Component>
			<Component Id="Microsoft.Threading.Tasks.dll" Guid="de4486a5-16bc-434c-b51b-f3aacdebda51">
			  <File Id="Microsoft.Threading.Tasks.dll" Name="Microsoft.Threading.Tasks.dll" Source="$(var.AppPanel_TargetDir)Microsoft.Threading.Tasks.dll" />
			</Component>
			<Component Id="Core.dll" Guid="9410a291-69dd-4ed6-9191-2eefcfe31d7a">
			  <File Id="Core.dll" Name="Core.dll" Source="$(var.AppPanel_TargetDir)Core.dll" />
			</Component>

			<Component Id="SQLite.Interop.dll" Guid="486A420C-2C1C-4370-A1DB-011B719611B9">
				<File Id="SQLite.Interop.dll" Name="SQLite.Interop.dll" Source="$(var.AppPanel_TargetDir)x64\SQLite.Interop.dll" />
			</Component>
			<Component Id="System.Data.SQLite.dll" Guid="D34CDA79-AAF2-4515-8847-538E56693920">
				<File Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" Source="$(var.AppPanel_TargetDir)System.Data.SQLite.dll" />
			</Component>
			<Component Id="System.Data.SQLite.EF6.dll" Guid="6AD1A022-9D34-4169-993F-D88FEB7F4D51">
				<File Id="System.Data.SQLite.EF6.dll" Name="System.Data.SQLite.EF6.dll" Source="$(var.AppPanel_TargetDir)System.Data.SQLite.EF6.dll" />
			</Component>
			<Component Id="System.Data.SQLite.Linq.dll" Guid="E77B99E0-B00F-4DB6-A2AB-EB68E72FA807">
				<File Id="System.Data.SQLite.Linq.dll" Name="System.Data.SQLite.Linq.dll" Source="$(var.AppPanel_TargetDir)System.Data.SQLite.Linq.dll" />
			</Component>
			
		</ComponentGroup>
	</Fragment>
</Wix>
